<div id="<%= dom_id model %>"class= "account-info-container">
  <p>
    <strong>Name:</strong>
    <%= model.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= model.description %>
  </p>

</div>
