<div id="<%= dom_id account %>"class="account-info-container">
  <p>
    <strong>Name:</strong>
    <%= account.name %>
  </p>

  <p>
    <strong>Industry:</strong>
    <%= account.industry %>
  </p>

  <p>
    <strong>Website:</strong>
    <%= account.website %>
  </p>
</div>
